block vars
    - var title = "Name project"
    - var cmsTpl = '/'

doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1,height=device-height,viewport-fit=cover')
        title= title
        base(href='/')
        meta(name='description', content="")
        meta(name='keywords', content="")

        meta(property='og:title', content="")
        meta(property="og:description" content="")
        meta(property='og:type', content='website')
        meta(property='og:url', content="")
        meta(property='og:image', content=cmsTpl + 'images/logo.png')
        meta(name='theme-color' content="#fff")

        link(rel="shortcut icon" href=cmsTpl + "images/favicon.ico")

        link(rel='stylesheet' href=cmsTpl + 'css/vendor.min.css')
        link(rel='stylesheet' href=cmsTpl + 'css/common.min.css')

    body
        header.header
        .page-overlay.d-none.d-lg-block
        .mobile-menu.d-none.d-lg-block
            .mobile-menu__section
                strong [[++site_name]]

        main
            block main

        footer.footer

        script(src=cmsTpl + 'js/vendor.min.js')
        script(src=cmsTpl + 'js/common.min.js')